<p-carousel
  [value]="department?.artworks"
  [numVisible]="6"
  [numScroll]="1"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-artwork pTemplate="item">
    <div class="px-4 artwork-card">
      <div>
        <div class="p-mb-1"></div>
        <div class="artwork-container">
          <img
            src="{{ artwork.primaryImageSmall }}"
            alt="artwork image"
            srcset=""
            class="artwork-image"
            (click)="showModalDialog(artwork.objectID)"
          />
          <h6 class="p-mb-1 artwork-title">
            {{ artwork.title | slice: 0:30 }}
          </h6>
          <app-artwork-modal
            [artwork]="artwork"
            (displayChange)="onDialogClose($event)"
          ></app-artwork-modal>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
